
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Signin Template for Bootstrap
    // Bootstrap core CSS
    link(href='/lib/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    // Custom styles for this template
    //link(href='signin.css', rel='stylesheet')
  body
    form(action='/saveData',method='POST',enctype='multipart/form-data')
      .form-group
        label(for='inpFname') First Name
        input#inpFname.form-control(type='text', placeholder='First Name', value='#{record.firstname}', name='firstname')
      .form-group
        label(for='inpLname') Last Name
        input#inpLname.form-control(type='text', placeholder='Last Name', value='#{record.lastname}', name='lastname')
      .form-group
        label(for='inpEmail') Email
        input#inpEmail.form-control(type='email', placeholder='Email', value='#{record.email}', name='email')
      .form-group
        label(for='inpPhone') Phone
        input#inpPhone.form-control(type='tel', placeholder='phone', value='#{record.phone}', name='phone')
      input#recId.form-control(type='hidden', value='#{record.id}', name='id')
      button.btn.btn-primary(type='submit') Submit
